body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* create pattern with colors rgb(0,169,153), rgb(49,191,176) */
    background: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:#2B193D;
}

.danceback{
    /* this is an image, apply filters so that it is all black */
    filter: brightness(0%);
    display: block;
    width: 5%;

}


.table-row-odd{
    background-color: rgb(255,255,255);
}
.table-row-even{
    background-color: rgb(208, 208, 208);
}
/* color pallete?
rgb(0,169,153)
rgb(49,191,176)
rgb(255,127,0)
*/